
body {
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh;
    width: 80vw; */
  }
  .container {
    padding: 10px;
    margin: 10px;
    width: 100%;
  }
  h2 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    padding: 2px 5px;
  }
  .para {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 5px;
  }
  .mb-3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 5px;
  }
  
  .login-container {
    background-color: #4c0707;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-control:focus {
    border-color: #61dafb;
    outline: none;
    box-shadow: 0 0 8px rgba(97, 218, 251, 0.6);
  }
  
  .form-control::placeholder {
    color: #999;
  }
  
  .form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #49a8e6;
  }
  
  .login-footer {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  .login-footer a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  
  .eye-icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  .btn-primary {
    font-size: 25px;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }